<div class="container">
    <div class="content">
        <h1>Lista de compras</h1>
        <form class="add-item">
            <input type="text" id="item-name" placeholder="Digite o nome do item">
            <button type="submit">+</button>
        </form>
        <h2>Itens</h2>
        <ul>
            <li>
                Arroz
                <span><input type="checkbox"></span>
            </li>
            <li>
                Banana
                <span><input type="checkbox"></span>
            </li>
            <li>
                Maçã
                <span><input type="checkbox"></span>
            </li>
        </ul>
    </div>
</div>
