<div class="container">
    <div class="content">
        <h1>Lista de compras</h1>
        <form #frm="ngForm" class="add-item" (ngSubmit)="addItem()">
            <input type="text" id="item-name" name="item"[(ngModel)]="item" placeholder="Digite o nome do item">
            <button type="submit" title="Adicionar item">+</button>
            <button type="button" title="Limpar lista" (click)="clearList()">x</button>
        </form>
        <h2>Itens</h2>
        <ul>
            @for(e of list; track e.id ){

                <li>
                    <span [ngClass]="{'purchased-item':e.purchased}">{{e.name}}</span>  
                    <span><input type="checkbox" (click)="purchaseItem(e)"[checked]="e.purchased"></span>
                </li>
            }
            @empty{
                <li>
                    A lista está vazia. Adicione um item
                </li>
            }
          
           
        </ul>
    </div>
</div>
